@tailwind base;
@tailwind components;
@tailwind utilities;




html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
 
  
}


body {
  overscroll-behavior: none;
}




.text-light {
  color: #e6e4e3
}




.grainy-dark {
background-color: #e6e4e3;}

